<!DOCTYPE html>
<html lang="en">

<meta http-equiv="content-type" content="text/html;charset=utf-8" />
<head>

    <!--meta tags-->

    <meta charset="UTF-8">
    <meta name="description" content="School Review App">
    <meta name="keywords" content="school, review">
    <meta name="author" content="SauceCode">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--end meta tags-->

    <title>Review Comments</title>

    <!--stylesheets-->

      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-nice-select/1.1.0/css/nice-select.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.2.1/assets/owl.carousel.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.2.1/assets/owl.theme.green.min.css">
    <link rel="stylesheet" href="/css/app.css">

    <!--end stylesheets-->

    <!--google fonts-->

    <link href="https://fonts.googleapis.com/css?family=Quicksand:700|Raleway|Tangerine" rel="stylesheet">
    <!--end google fonts-->
     <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <link rel="icon" href="favicon.ico" type="image/x-icon">

</head>
<body>



<!--top navbar-->
<nav class="ui-nav">
    <div class="logo"><a href="/"><img src="img/logo.png"></a></div>
    <ul class="list-unstyled menu">     
        <li class="list-inline-item menu-li"><a href="/">Home</a></li>
        <li class="list-inline-item menu-li"><a href="/about">About</a></li>
        <li class="list-inline-item menu-li"><a href="/pricing">Pricing</a></li>
        <li class="list-inline-item menu-li"><a href="/faq">FAQ</a></li>
        <li class="list-inline-item menu-li"><a href="/contact">Contact</a></li>
        
    </ul>
    <i class="fa fa-bars open-menu"></i>
</nav>
<!--end top navbar-->
<div class="content-wrapper">

 <!--Q&A-->
    <div class="qna">
        <h1 class="qna-title">q&a</h1>
        <div class="row">
            <div class="col-lg-6 col-md-6">
                <div class="qna-item">
                    <h5><strong>How does it work?</strong></h5>
                    <p>
                        You can sign up online to see what People say
                        about a School in your Area or any location you
                        intend to get your wards to.
                    </p>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="qna-item">
                    <h5><strong>Who can review a School?</strong></h5>
                    <p>
                        Anybody can review a school. However, every review
                        is categorized a non verified review until approved by our awesome
                        review team.
                    </p>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="qna-item">
                    <h5><strong>Who Makes up the Review Team?</strong></h5>
                    <p>
                        We have a group of underG guys that picks up reviews
                        of people, investigate the authenticity of a review,
                        then mark it as a verified review.
                    </p>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="qna-item">
                    <h5><strong>Can I become a reviewer?</strong></h5>
                    <p>
                        Yes you can, apply <a href="#">Here</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <!--end Q&A-->

    


<!--footer section-->
<div class="footer">

<div class="row">
        <div class="col-lg-2 col-md-6">
            <div class="footer-sec">
                <h6>About</h6>
                <a href="/about">About The App</a>
                <a href="/list">See School Listings</a>
                <a href="/contact">Contact</a>
            
            </div>
        </div>
        <div class="col-lg-3 col-md-6">
            <div class="footer-sec">
                <h6>Support</h6>
                <a href="/faq">FAQ</a>
                <a href="/reviewers">Become a Reviewer</a>
                <a href="/pricing">Pricing</a>
            </div>
        </div>
        <div class="col-lg-3 col-md-6">
            <div class="footer-sec">
                <h6>My Account</h6>
                <a href="/login">Login</a>
                <a href="/signup">Sign Up</a>
            </div>
        </div>
        <div class="col-lg-4 col-md-6">
            <div class="footer-sec">
                <h6>News Letter</h6>
                <span>Get Notified on whats up...</span>
                <form action="#" method="post">
                    <input type="email" required placeholder="Your Email Here">
                    <button type="submit" class="btn ui-btn dark-blue"><i class="fa fa-send-o"></i></button>
                </form>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-4 col-md-4"></div>
            <p class="copyright footer-logo"><i  class="fa fa-copyright"></i> 2018 Saucecode.
            Developed with <i class="fa fa-heart text-info"></i>&nbsp; by <a href="https://github.com/seunzone"><strong>Seun</strong></a> and <a href="https://github.com/leksyib"><strong>Lekan</strong></a></p><div class="col-lg-3 col-md-3">
            </div>
            <div class="col-lg-3 col-md-3"></div>
        <div class="col-lg-3 col-md-3">         
        </div>
</div>
</div>
<!--end footer section-->


<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js" integrity="sha384-a5N7Y/aK3qNeh15eJKGWxsqtnX/wWdSZSKp+81YjTmS15nvnvxKHuzaWwXHDli+4" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-nice-select/1.1.0/js/jquery.nice-select.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.2.1/owl.carousel.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.perfect-scrollbar/0.8.1/js/perfect-scrollbar.jquery.min.js"></script>
<script src="js/app.js"></script>
</body>

</html>